body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1203px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:143px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:143px;
}
#u2 {
  position:absolute;
  left:2px;
  top:64px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:110px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u3_img.mouseDown {
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:244px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:378px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:512px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:228px;
  top:36px;
  width:105px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:842px;
  top:2px;
  width:38px;
  height:38px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:880px;
  top:10px;
  width:160px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1046px;
  top:11px;
  width:73px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1120px;
  top:11px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:647px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:105px;
  top:150px;
  width:695px;
  height:270px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u25 {
  position:absolute;
  left:2px;
  top:127px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u27 {
  position:absolute;
  left:2px;
  top:127px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:270px;
}
#u29 {
  position:absolute;
  left:2px;
  top:127px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:816px;
  top:150px;
  width:294px;
  height:270px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:270px;
}
#u31 {
  position:absolute;
  left:2px;
  top:127px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:817px;
  top:364px;
  width:293px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:105px;
  top:516px;
  width:320px;
  height:620px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u34 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:447px;
  top:516px;
  width:320px;
  height:620px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u36 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:789px;
  top:516px;
  width:320px;
  height:620px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u38 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:105px;
  top:1150px;
  width:1005px;
  height:252px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:252px;
}
#u40 {
  position:absolute;
  left:2px;
  top:118px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:1430px;
  width:1203px;
  height:232px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:232px;
}
#u42 {
  position:absolute;
  left:2px;
  top:108px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:105px;
  top:779px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:447px;
  top:779px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:789px;
  top:779px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:789px;
  top:1094px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:447px;
  top:1094px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:105px;
  top:1094px;
  width:320px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:105px;
  top:430px;
  width:1005px;
  height:70px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:70px;
}
#u56 {
  position:absolute;
  left:2px;
  top:27px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:143px;
  top:452px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:253px;
  top:443px;
  width:10px;
  height:40px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u60 {
  position:absolute;
  left:291px;
  top:453px;
  width:119px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:472px;
  top:453px;
  width:140px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:660px;
  top:453px;
  width:110px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:835px;
  top:453px;
  width:110px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:410px;
  top:460px;
  width:39px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  height:5px;
}
#u69 {
  position:absolute;
  left:610px;
  top:460px;
  width:39px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  height:5px;
}
#u70 {
  position:absolute;
  left:780px;
  top:460px;
  width:39px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  height:5px;
}
#u71 {
  position:absolute;
  left:958px;
  top:445px;
  width:10px;
  height:40px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u72 {
  position:absolute;
  left:988px;
  top:458px;
  width:92px;
  height:16px;
  color:#0099FF;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1000px;
  top:1160px;
  width:80px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:835px;
  top:210px;
  width:255px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
