body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:271px;
  top:310px;
  width:829px;
  height:39px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:39px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:143px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:143px;
}
#u4 {
  position:absolute;
  left:2px;
  top:64px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:110px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:244px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:378px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:512px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:228px;
  top:36px;
  width:105px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:842px;
  top:2px;
  width:38px;
  height:38px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:880px;
  top:10px;
  width:160px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1046px;
  top:11px;
  width:73px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1120px;
  top:11px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:647px;
  top:90px;
  width:136px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:53px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:271px;
  top:152px;
  width:203px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:271px;
  top:355px;
  width:829px;
  height:120px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:120px;
}
#u28 {
  position:absolute;
  left:2px;
  top:52px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:415px;
  top:319px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:285px;
  top:322px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:296px;
  top:319px;
  width:42px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1023px;
  top:319px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:271px;
  top:285px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099CC;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:313px;
  top:363px;
  width:106px;
  height:106px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u40 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:426px;
  top:367px;
  width:137px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:285px;
  top:408px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:271px;
  top:481px;
  width:829px;
  height:152px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:152px;
}
#u46 {
  position:absolute;
  left:2px;
  top:68px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:426px;
  top:493px;
  width:137px;
  height:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:285px;
  top:534px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:271px;
  top:640px;
  width:829px;
  height:120px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:120px;
}
#u52 {
  position:absolute;
  left:2px;
  top:52px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:426px;
  top:652px;
  width:137px;
  height:32px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:285px;
  top:693px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:271px;
  top:766px;
  width:829px;
  height:120px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:120px;
}
#u58 {
  position:absolute;
  left:2px;
  top:52px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:426px;
  top:778px;
  width:137px;
  height:32px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:285px;
  top:819px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:271px;
  top:892px;
  width:829px;
  height:120px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:120px;
}
#u64 {
  position:absolute;
  left:2px;
  top:52px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:426px;
  top:904px;
  width:137px;
  height:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:285px;
  top:945px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  position:absolute;
  left:313px;
  top:489px;
  width:106px;
  height:106px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u70 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:313px;
  top:647px;
  width:106px;
  height:106px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u72 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:313px;
  top:773px;
  width:106px;
  height:106px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u74 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:313px;
  top:899px;
  width:106px;
  height:106px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u76 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1008px;
  top:423px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:426px;
  top:446px;
  width:22px;
  height:19px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:458px;
  top:443px;
  width:22px;
  height:22px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u82 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:491px;
  top:446px;
  width:19px;
  height:19px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:426px;
  top:576px;
  width:22px;
  height:19px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:458px;
  top:573px;
  width:22px;
  height:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u88 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:491px;
  top:576px;
  width:19px;
  height:19px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:426px;
  top:734px;
  width:22px;
  height:19px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:458px;
  top:731px;
  width:22px;
  height:22px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u94 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:491px;
  top:734px;
  width:19px;
  height:19px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:426px;
  top:860px;
  width:22px;
  height:19px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:458px;
  top:857px;
  width:22px;
  height:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u100 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:491px;
  top:860px;
  width:19px;
  height:19px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:426px;
  top:986px;
  width:22px;
  height:19px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:458px;
  top:983px;
  width:22px;
  height:22px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u106 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:491px;
  top:986px;
  width:19px;
  height:19px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:525px;
  top:1024px;
  width:321px;
  height:44px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:44px;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1008px;
  top:394px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:702px;
  top:319px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:811px;
  top:319px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:598px;
  top:319px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:578px;
  top:407px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:578px;
  top:533px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:578px;
  top:692px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:578px;
  top:818px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:578px;
  top:944px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:682px;
  top:407px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:682px;
  top:533px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:682px;
  top:692px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:682px;
  top:818px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:682px;
  top:944px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:804px;
  top:407px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:804px;
  top:533px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:804px;
  top:692px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:804px;
  top:818px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:804px;
  top:944px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:745px;
  top:331px;
  width:8px;
  height:5px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u150 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:745px;
  top:324px;
  width:8px;
  height:5px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:927px;
  top:319px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:972px;
  top:331px;
  width:8px;
  height:5px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:972px;
  top:324px;
  width:8px;
  height:5px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:912px;
  top:407px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:912px;
  top:533px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:912px;
  top:691px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:912px;
  top:818px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:912px;
  top:944px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:0px;
  top:1079px;
  width:1203px;
  height:232px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:232px;
}
#u170 {
  position:absolute;
  left:2px;
  top:108px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:270px;
  top:178px;
  width:830px;
  height:102px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:102px;
}
#u172 {
  position:absolute;
  left:2px;
  top:43px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:271px;
  top:200px;
  width:71px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:563px;
  top:201px;
  width:44px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:563px;
  top:239px;
  width:44px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:271px;
  top:238px;
  width:71px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:342px;
  top:196px;
  width:198px;
  height:28px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u182 {
  position:absolute;
  left:607px;
  top:234px;
  width:198px;
  height:28px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u182_input:disabled {
  color:grayText;
}
#u183 {
  position:absolute;
  left:980px;
  top:232px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:913px;
  top:240px;
  width:60px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:607px;
  top:196px;
  width:90px;
  height:28px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u188 {
  position:absolute;
  left:716px;
  top:196px;
  width:89px;
  height:28px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u189 {
  position:absolute;
  left:695px;
  top:202px;
  width:22px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:836px;
  top:201px;
  width:44px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:880px;
  top:196px;
  width:90px;
  height:28px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u194 {
  position:absolute;
  left:989px;
  top:196px;
  width:89px;
  height:28px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u195 {
  position:absolute;
  left:968px;
  top:202px;
  width:22px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:342px;
  top:234px;
  width:198px;
  height:28px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u197_input:disabled {
  color:grayText;
}
#u198 {
  position:absolute;
  left:1008px;
  top:549px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1008px;
  top:520px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1008px;
  top:707px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1008px;
  top:678px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1008px;
  top:834px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:1008px;
  top:805px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1008px;
  top:959px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1008px;
  top:929px;
  width:80px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1110px;
  top:394px;
  width:290px;
  height:32px;
  color:#666666;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:100px;
  top:142px;
  width:157px;
  height:529px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:529px;
}
#u217 {
  position:absolute;
  left:2px;
  top:256px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:101px;
  top:142px;
  width:155px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:101px;
  top:183px;
  width:155px;
  height:487px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:487px;
}
#u221 {
  position:absolute;
  left:2px;
  top:236px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:102px;
  top:192px;
  width:155px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:102px;
  top:224px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:102px;
  top:252px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:102px;
  top:279px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:102px;
  top:307px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:121px;
  top:336px;
  width:120px;
  height:10px;
}
#u232_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u233 {
  position:absolute;
  left:102px;
  top:359px;
  width:155px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:102px;
  top:392px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:120px;
  top:471px;
  width:120px;
  height:10px;
}
#u237_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u238 {
  position:absolute;
  left:104px;
  top:497px;
  width:155px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:102px;
  top:533px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:102px;
  top:561px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:102px;
  top:443px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:285px;
  top:605px;
  width:795px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#FF0000;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:19px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:102px;
  top:418px;
  width:155px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
