body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:18px;
  width:50px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:168px;
  top:35px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:217px;
  top:35px;
  width:132px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:110px;
  top:80px;
  width:990px;
  height:0px;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1004px;
  height:20px;
}
#u7 {
  position:absolute;
  left:445px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:930px;
  top:18px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:938px;
  top:28px;
  width:43px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:990px;
  top:52px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1057px;
  top:52px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:990px;
  top:18px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:110px;
  top:113px;
  width:200px;
  height:580px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:580px;
}
#u20 {
  position:absolute;
  left:2px;
  top:282px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:128px;
  top:138px;
  width:20px;
  height:17px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:158px;
  top:139px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:158px;
  top:172px;
  width:79px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:158px;
  top:198px;
  width:92px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:129px;
  top:314px;
  width:20px;
  height:17px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:159px;
  top:315px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:159px;
  top:348px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:159px;
  top:374px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:130px;
  top:239px;
  width:20px;
  height:17px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:160px;
  top:240px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:160px;
  top:273px;
  width:54px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:288px;
  top:764px;
  width:571px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:110px;
  top:742px;
  width:1198px;
  height:-3px;
}
#u46_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1212px;
  height:20px;
}
#u46_seg1 {
  position:absolute;
  left:1188px;
  top:-7px;
  width:20px;
  height:17px;
}
#u47 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:350px;
  top:115px;
  width:200px;
  height:35px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:549px;
  top:115px;
  width:200px;
  height:35px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:748px;
  top:115px;
  width:200px;
  height:35px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:385px;
  top:388px;
  width:100px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:360px;
  top:190px;
  width:53px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:385px;
  top:244px;
  width:239px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:385px;
  top:280px;
  width:300px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:384px;
  top:313px;
  width:203px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
